body {
  background-color: rgb(137, 61, 203);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  color: rgb(30, 12, 46);
  h1 {
    font-size: 6rem;
    margin: 0;
    padding-left: 3vw;
  }
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(30, 12, 46);
  margin: 0;
  font-size: 2rem;
  padding: 3vw;
  width: 94vw; 
  a:hover {
    color: rgb(195, 247, 38);
  }
}

button {
  border-color: rgb(30, 12, 46);
  background-color: transparent;
  font-size: 1rem;
  border-radius: 5px;
  color: rgb(30, 12, 46)
}
button:hover {
  background-color: rgb(195, 247, 38);
}

a {
  text-decoration: none;
}


.home {
  display:flex;
}

.bio {
  font-size: 2.5rem;
  width: 55vw;
  padding-left: 3vw;
}

.about {
  padding-left: 3vw;
  width: 30vw;
  height: 5vw;
  h2, p {
    padding-left: -3vw;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 20rem));
  }
  li {
    list-style-type:square;
  }
}

.title {
  padding-top: 20vw;
}


.projects {
  background-color: rgb(30, 12, 46);
  h3 {
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    padding-left: 3vw;
  }
  div {
    display: flex;
  }
  img {
    opacity: 0.7;
    width: 45vw;
    border-radius: 15px;
    box-shadow: inset;
  }
  img:hover {
    opacity: 1;
  }
  p {
    width: 50vw;
    padding-left: 3vw;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
    padding-left: 3vw;
  }
}